[record.AgentAdminRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "name", type = "str8" },
  { name = "unknown_tag", type = "u8" },
  { name = "unknown_flags", type = "u32_be" },
  { name = "unknown_tail", type = "bytes_fixed", len = 3 },
]

[record.AgentVersionRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "version", type = "str8" },
]

[request.AgentAuthRequest]
derive = ["Debug", "Clone"]
fields = [
  { name = "user", type = "str8" },
  { name = "pwd", type = "str8" },
]

[request.AgentVersionRequest]
derive = ["Debug", "Clone"]
fields = []

[rpc.AgentAuth]
request = "AgentAuthRequest"
response = "AckResponse"
method_req = 0x08
requires_cluster_context = false
requires_infobase_context = false

[rpc.AgentAdminList]
response = "super::AgentAdminListResp"
method_req = 0x00
method_resp = 0x01
requires_cluster_context = false
requires_infobase_context = false

[rpc.AgentVersion]
response = "super::AgentVersionResp"
method_req = 0x87
method_resp = 0x88
requires_cluster_context = false
requires_infobase_context = false

[response.AgentAdminList]
body = { type = "list_u8", item = "AgentAdminRecord" }
tests = [{ name = "agent_admin_list_response_hex", hex_path = "../../../../artifacts/rac/agent_admin_list_response_rpc.hex", expect_len = 1, asserts = [{ index = 0, field = "name", value = "admin" }, { index = 0, field = "unknown_tag", value = 0 }, { index = 0, field = "unknown_flags", value = 0x03efbfbd }, { index = 0, field = "unknown_tail", value = [0x01, 0x00, 0x00] }] }]

[response.AgentVersion]
body = { type = "record", item = "AgentVersionRecord" }
