[record.ClusterAdminRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "name", type = "str8", version = "11.0" },
  { name = "unknown_tag", type = "u8", version = "11.0" },
  { name = "unknown_flags", type = "u32_be", version = "11.0" },
  { name = "unknown_tail", type = "bytes_fixed", len = 3, version = "11.0" },
]

[record.ClusterRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "uuid", type = "uuid", version = "11.0" },
  { name = "expiration_timeout", type = "u32_be", version = "11.0" },
  { name = "host", type = "str8", version = "11.0" },
  { name = "lifetime_limit", type = "u32_be", version = "11.0" },
  { name = "port", type = "u16_be", version = "11.0" },
  { name = "max_memory_size", type = "u32_be", version = "11.0" },
  { name = "max_memory_time_limit", type = "u32_be", version = "11.0" },
  { name = "display_name", type = "str8", version = "11.0" },
  { name = "security_level", type = "u32_be", version = "11.0" },
  { name = "session_fault_tolerance_level", type = "u32_be", version = "11.0" },
  { name = "load_balancing_mode", type = "u32_be", version = "11.0" },
  { name = "errors_count_threshold", type = "u32_be", version = "11.0" },
  { name = "kill_problem_processes", type = "u8", version = "11.0" },
  { name = "kill_by_memory_with_dump", type = "u8", version = "11.0" },
  { name = "allow_access_right_audit_events_recording", type = "u8", source = "0", version = "16.0" },
  { name = "ping_period", type = "u32_be", source = "0", version = "16.0" },
  { name = "ping_timeout", type = "u32_be", source = "0", version = "16.0" },
  { name = "restart_schedule_cron", type = "str8", source = "String::new()", version = "16.0" },
  { name = "restart_interval", type = "u32_be", source = "0", version = "11.0-16.0" },
]

[rpc.ClusterAuth]
response = "AckResponse"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "user", type = "str8", version = "11.0" },
  { name = "pwd", type = "str8", version = "11.0" },
]
version = "11.0"
method_req = 0x09
requires_cluster_context = false
requires_infobase_context = false

[rpc.ClusterAdminList]
response = "ClusterAdminListResp"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
]
version = "11.0"
method_req = 0x02
method_resp = 0x03
requires_cluster_context = false
requires_infobase_context = false

[rpc.ClusterAdminRegister]
response = "AckResponse"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "name", type = "str8", version = "11.0" },
  { name = "descr", type = "str8", version = "11.0" },
  { name = "pwd", type = "str8", version = "11.0" },
  { name = "auth_tag", type = "u8", version = "11.0" },
  { name = "auth_flags", type = "u8", version = "11.0" },
  { name = "os_user", type = "str8", version = "11.0" },
]
version = "11.0"
method_req = 0x05
requires_cluster_context = false
requires_infobase_context = false

[rpc.ClusterAdminRemove]
response = "AckResponse"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "name", type = "str8", version = "11.0" },
]
version = "11.0"
method_req = 0x07
requires_cluster_context = false
requires_infobase_context = false

[rpc.ClusterList]
response = "ClusterListResp"
version = "11.0"
method_req = 0x0b
method_resp = 0x0c
requires_cluster_context = false
requires_infobase_context = false

[rpc.ClusterInfo]
response = "ClusterInfoResp"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
]
version = "11.0"
method_req = 0x0d
method_resp = 0x0e
requires_cluster_context = false
requires_infobase_context = false

[response.ClusterAdminList]
body = { type = "list_u8", item = "ClusterAdminRecord", field = "admins", struct = true }
tests = [{ name = "cluster_admin_list_response_hex", hex_path = "../../../../artifacts/rac/cluster_admin_list_response.hex", expect_len = 1, asserts = [{ index = 0, field = "name", value = "cadmin" }, { index = 0, field = "unknown_tag", value = 0 }, { index = 0, field = "unknown_flags", value = 0x03efbfbd }, { index = 0, field = "unknown_tail", value = [0x01, 0x00, 0x00] }] }]

[response.ClusterList]
body = { type = "list_u8_tail", item = "ClusterRecord", tail_len_param = "tail_len" }
tests = [
  { name = "cluster_list_response_custom_hex", hex_path = "../../../../artifacts/rac/cluster_list_response_custom.hex", tail_len = 0, expect_len = 1, asserts = [
    { index = 0, field = "lifetime_limit", value = 1111 },
    { index = 0, field = "security_level", value = 3 },
    { index = 0, field = "session_fault_tolerance_level", value = 4 },
    { index = 0, field = "load_balancing_mode", value = 1 },
    { index = 0, field = "errors_count_threshold", value = 0 },
    { index = 0, field = "kill_problem_processes", value = 0 },
    { index = 0, field = "kill_by_memory_with_dump", value = 1 },
  ] },
  { name = "cluster_list_response_flags_hex", hex_path = "../../../../artifacts/rac/cluster_list_response_flags.hex", tail_len = 0, expect_len = 1, asserts = [
    { index = 0, field = "kill_problem_processes", value = 1 },
    { index = 0, field = "kill_by_memory_with_dump", value = 0 },
  ] },
]

[response.ClusterInfo]
body = { type = "record_tail", item = "ClusterRecord", tail_len_param = "tail_len" }
