[record.ClusterAdminRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "name", type = "str8" },
  { name = "unknown_tag", type = "u8" },
  { name = "unknown_flags", type = "u32_be" },
  { name = "unknown_tail", type = "bytes_fixed", len = 3 },
]

[record.ClusterRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "uuid", type = "uuid", version = "11.0" },
  { name = "expiration_timeout", type = "u32_be", version = "11.0" },
  { name = "host", type = "str8", version = "11.0" },
  { name = "lifetime_limit", type = "u32_be", version = "11.0" },
  { name = "port", type = "u16_be", version = "11.0" },
  { name = "max_memory_size", type = "u32_be", version = "11.0" },
  { name = "max_memory_time_limit", type = "u32_be", version = "11.0" },
  { name = "display_name", type = "str8", version = "11.0" },
  { name = "security_level", type = "u32_be", version = "11.0" },
  { name = "session_fault_tolerance_level", type = "u32_be", version = "11.0" },
  { name = "load_balancing_mode", type = "u32_be", version = "11.0" },
  { name = "errors_count_threshold", type = "u32_be", version = "11.0" },
  { name = "kill_problem_processes", type = "u8", version = "11.0" },
  { name = "kill_by_memory_with_dump", type = "u8", version = "11.0" },
]

[request.ClusterIdRequest]
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid" },
]

[request.ClusterAuthRequest]
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid" },
  { name = "user", type = "str8" },
  { name = "pwd", type = "str8" },
]

[request.ClusterAdminRegisterRequest]
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid" },
  { name = "name", type = "str8" },
  { name = "descr", type = "str8" },
  { name = "pwd", type = "str8" },
  { name = "auth_flags", type = "u8" },
  { name = "padding", type = "bytes_fixed", literal = [0, 0] },
]

[rpc.ClusterAuth]
request = "ClusterAuthRequest"
method_req = 0x09
requires_cluster_context = false
requires_infobase_context = false

[rpc.ClusterAdminList]
request = "ClusterIdRequest"
method_req = 0x02
method_resp = 0x03
requires_cluster_context = false
requires_infobase_context = false

[rpc.ClusterAdminRegister]
request = "ClusterAdminRegisterRequest"
method_req = 0x05
requires_cluster_context = false
requires_infobase_context = false

[rpc.ClusterList]
method_req = 0x0b
method_resp = 0x0c
requires_cluster_context = false
requires_infobase_context = false

[rpc.ClusterInfo]
request = "ClusterIdRequest"
method_req = 0x0d
method_resp = 0x0e
requires_cluster_context = false
requires_infobase_context = false

[response.ClusterAdminList]
body = { type = "list_u8", item = "ClusterAdminRecord" }
tests = [{ name = "cluster_admin_list_response_hex", hex_path = "../../../../artifacts/rac/cluster_admin_list_response.hex", expect_len = 1, asserts = [{ index = 0, field = "name", value = "cadmin" }, { index = 0, field = "unknown_tag", value = 0 }, { index = 0, field = "unknown_flags", value = 0x03efbfbd }, { index = 0, field = "unknown_tail", value = [0x01, 0x00, 0x00] }] }]
