[record.ClusterAdminRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "name", type = "str8" },
  { name = "unknown_tag", type = "u8" },
  { name = "unknown_flags", type = "u32_be" },
  { name = "unknown_tail", type = "bytes_fixed", len = 3 },
]

[record.ClusterRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "uuid", type = "uuid" },
  { name = "expiration_timeout", type = "u32_be" },
  { name = "host", type = "str8" },
  { name = "lifetime_limit", type = "u32_be" },
  { name = "port", type = "u16_be" },
  { name = "gap_0", type = "u64_be" },
  { name = "display_name", type = "str8" },
  { name = "security_level", type = "u32_be" },
  { name = "session_fault_tolerance_level", type = "u32_be" },
  { name = "load_balancing_mode", type = "u32_be" },
  { name = "errors_count_threshold", type = "u32_be" },
  { name = "kill_problem_processes", type = "u8" },
  { name = "kill_by_memory_with_dump", type = "u8" },
  { name = "version", type = "computed", computed = "literal", source = "RacProtocolVersion::V11_0", rust_type = "RacProtocolVersion" },
]
