[record.ConnectionRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "connection", type = "uuid", version = "11.0" },
  { name = "application", type = "str8", version = "11.0" },
  { name = "blocked_by_ls", type = "u32_be", version = "11.0" },
  { name = "connected_at", type = "datetime_u64_be", version = "11.0" },
  { name = "conn_id", type = "u32_be", version = "11.0" },
  { name = "host", type = "str8", version = "11.0" },
  { name = "infobase", type = "uuid", version = "11.0" },
  { name = "process", type = "uuid", version = "11.0" },
  { name = "session_number", type = "u32_be", version = "11.0" },
]

[rpc.ConnectionList]
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
]
version = "11.0"
method_req = 0x32
method_resp = 0x33
requires_cluster_context = true
requires_infobase_context = false

[rpc.ConnectionListByInfobase]
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "infobase", type = "uuid", version = "11.0" },
]
version = "11.0"
method_req = 0x34
method_resp = 0x35
requires_cluster_context = true
requires_infobase_context = false

[rpc.ConnectionInfo]
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "connection", type = "uuid", version = "11.0" },
]
version = "11.0"
method_req = 0x36
method_resp = 0x37
requires_cluster_context = true
requires_infobase_context = false

[rpc.ConnectionDisconnect]
response = "AckResponse"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "connection", type = "uuid", version = "11.0" },
  { name = "process", type = "uuid", version = "11.0" },
]
version = "11.0"
method_req = 0x40
requires_cluster_context = true
requires_infobase_context = false

[response.ConnectionList]
body = { type = "list_u8", item = "ConnectionRecord" }

[response.ConnectionInfo]
body = { type = "record", item = "ConnectionRecord" }
