[record.ConnectionRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "connection", type = "uuid" },
  { name = "application", type = "str8" },
  { name = "blocked_by_ls", type = "u32_be" },
  { name = "connected_at", type = "datetime_u64_be" },
  { name = "conn_id", type = "u32_be" },
  { name = "host", type = "str8" },
  { name = "infobase", type = "uuid" },
  { name = "process", type = "uuid" },
  { name = "session_number", type = "u32_be" },
]

[request.ConnectionListRequest]
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid" },
]

[request.ConnectionInfoRequest]
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid" },
  { name = "connection", type = "uuid" },
]

[request.ConnectionListByInfobaseRequest]
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid" },
  { name = "infobase", type = "uuid" },
]

[request.ConnectionDisconnectRequest]
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid" },
  { name = "connection", type = "uuid" },
  { name = "process", type = "uuid" },
]

[rpc.ConnectionList]
request = "ConnectionListRequest"
method_req = 0x32
method_resp = 0x33
requires_cluster_context = true
requires_infobase_context = false

[rpc.ConnectionListByInfobase]
request = "ConnectionListByInfobaseRequest"
method_req = 0x34
method_resp = 0x35
requires_cluster_context = true
requires_infobase_context = false

[rpc.ConnectionInfo]
request = "ConnectionInfoRequest"
method_req = 0x36
method_resp = 0x37
requires_cluster_context = true
requires_infobase_context = false

[rpc.ConnectionDisconnect]
request = "ConnectionDisconnectRequest"
response = "AckResponse"
method_req = 0x40
requires_cluster_context = true
requires_infobase_context = false

[response.ConnectionList]
body = { type = "list_u8", item = "ConnectionRecord" }

[response.ConnectionInfo]
body = { type = "record", item = "ConnectionRecord" }
