[record.RuleRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "rule", type = "uuid", version = "11.0" },
  { name = "object_type", type = "u32_be", version = "11.0" },
  { name = "infobase_name", type = "str8", version = "11.0" },
  { name = "rule_type", type = "u8", version = "11.0" },
  { name = "application_ext", type = "str8", version = "11.0" },
  { name = "priority", type = "u32_be", version = "11.0" },
]

[record.RuleIdRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "rule", type = "uuid", version = "11.0" },
]

[rpc.RuleList]
response = "RuleListResp"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "server", type = "uuid", version = "11.0" },
]
version = "11.0"
method_req = 0x55
method_resp = 0x56
requires_cluster_context = true
requires_infobase_context = false

[rpc.RuleInfo]
response = "RuleInfoResp"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "server", type = "uuid", version = "11.0" },
  { name = "rule", type = "uuid", version = "11.0" },
]
version = "11.0"
method_req = 0x57
method_resp = 0x58
requires_cluster_context = true
requires_infobase_context = false

[rpc.RuleApply]
response = "AckResponse"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "mode", type = "u32_be", version = "11.0" },
]
version = "11.0"
method_req = 0x51
requires_cluster_context = true
requires_infobase_context = false

[rpc.RuleRemove]
response = "AckResponse"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "server", type = "uuid", version = "11.0" },
  { name = "rule", type = "uuid", version = "11.0" },
]
version = "11.0"
method_req = 0x54
requires_cluster_context = true
requires_infobase_context = false

[rpc.RuleInsert]
response = "RuleInsertResp"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "server", type = "uuid", version = "11.0" },
  { name = "rule", type = "uuid", version = "11.0" },
  { name = "position", type = "u32_be", version = "11.0" },
  { name = "object_type", type = "u32_be", version = "11.0" },
  { name = "infobase_name", type = "str8", version = "11.0" },
  { name = "rule_type", type = "u8", version = "11.0" },
  { name = "application_ext", type = "str8", version = "11.0" },
  { name = "priority", type = "u32_be", version = "11.0" },
]
version = "11.0"
method_req = 0x52
method_resp = 0x53
requires_cluster_context = true
requires_infobase_context = false

[rpc.RuleUpdate]
response = "RuleUpdateResp"
derive = ["Debug", "Clone"]
fields = [
  { name = "cluster", type = "uuid", version = "11.0" },
  { name = "server", type = "uuid", version = "11.0" },
  { name = "rule", type = "uuid", version = "11.0" },
  { name = "position", type = "u32_be", version = "11.0" },
  { name = "object_type", type = "u32_be", version = "11.0" },
  { name = "infobase_name", type = "str8", version = "11.0" },
  { name = "rule_type", type = "u8", version = "11.0" },
  { name = "application_ext", type = "str8", version = "11.0" },
  { name = "priority", type = "u32_be", version = "11.0" },
]
version = "11.0"
method_req = 0x52
method_resp = 0x53
requires_cluster_context = true
requires_infobase_context = false

[response.RuleList]
body = { type = "list_u8", item = "RuleRecord", field = "records", struct = true }

[response.RuleInfo]
body = { type = "record", item = "RuleRecord", field = "record", struct = true }

[response.RuleInsert]
body = { type = "record", item = "RuleIdRecord", field = "rule", struct = true }

[response.RuleUpdate]
body = { type = "record", item = "RuleIdRecord", field = "rule", struct = true }
