[record.ServerRecord]
derive = ["Debug", "Serialize", "Clone"]
fields = [
  { name = "server", type = "uuid" },
  { name = "agent_host", type = "str8" },
  { name = "agent_port", type = "u16_be" },
  { name = "name", type = "str8" },
  { name = "using", type = "u32_le" },
  { name = "dedicate_managers", type = "u32_le" },
  { name = "gap_1", type = "u32_le" },
  { name = "safe_call_memory_limit", type = "u32_be" },
  { name = "gap_2", type = "u32_le" },
  { name = "infobases_limit", type = "u32_le" },
  { name = "gap_3", type = "u32_le" },
  { name = "gap_4", type = "u32_le" },
  { name = "gap_4_pad", type = "u8" },
  { name = "cluster_port", type = "u16_be" },
  { name = "connections_limit", type = "u16_le" },
  { name = "port_range_end", type = "u16_be" },
  { name = "port_range_start", type = "u16_be" },
  { name = "critical_total_memory", type = "u64_be" },
  { name = "gap_5", type = "u32_be" },
  { name = "temporary_allowed_total_memory", type = "u32_be" },
  { name = "gap_6", type = "u32_be" },
  { name = "temporary_allowed_total_memory_time_limit", type = "u32_be" },
  { name = "service_principal_name", type = "str8" },
  { name = "restart_schedule", type = "str8" },
  { name = "gap_7", type = "u8" },
]
